<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80110869607-v372vpu97gt3vv1br52kkum1ct9hjtlr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80110869607-v372vpu97gt3vv1br52kkum1ct9hjtlr</string>
	<key>API_KEY</key>
	<string>AIzaSyBcoiXu-M1ey50uXnixBSJ4kSMQ5lkz79I</string>
	<key>GCM_SENDER_ID</key>
	<string>80110869607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>egortereshonok.Donor</string>
	<key>PROJECT_ID</key>
	<string>donor-e4257</string>
	<key>STORAGE_BUCKET</key>
	<string>donor-e4257.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80110869607:ios:a6c49aaa27bb39d963c8c2</string>
	<key>DATABASE_URL</key>
	<string>https://donor-e4257.firebaseio.com</string>
</dict>
</plist>